/* BASE */
html, body{
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #F1D1B5;
}

a, p, h4, h3, h2, h1, li{
    font-family: "Trebuchet MS";
}

a{
    color: #305F72;
    text-decoration: none;
}

#header{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: baseline;
}

.header-text{
    font-style: italic;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #568EA6;
}

.nav-item{
    position: relative;
}

.icon-img{
    position: absolute;
    top: -250%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    width: 30px;
    opacity: 0;
    animation: icon-popup 0.4s ease-out forwards;
    background-color: #F1D1B5;
    border-radius: 50%;
    padding: 5px;
}

#home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#introduction-container, #home-contact-container{
    width: 80%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#introduction-container{
    margin-top: 5%;
    background-color: #F18C8E;
}

#home-contact-container{
    background-color: #F0B7A4;
    width: 80%;
}

.home-btn{
    background-color: #568EA6;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    margin-top: 5px;
}

/* ABOUT PAGE */

/* PROJECTS PAGE */
.project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project{
    margin-top: 10px;
    background-color: #F0B7A4;
    width: 80%;
}

.project > h4{
    margin-left: 4px;
}

.dropdown{
    background-color: #F18C8E;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.dropdown.visible{
    max-height: 500px;
    opacity: 1;
    padding: 1rem;
}
.dropdown-icon{
    margin: 4px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid black;
    transition: transform 0.3s ease-in;
    cursor: pointer;
}

.dropdown-icon.rotated{
    transform: rotate(90deg);
}


/* CONTACT PAGE */
#contact-container{
    width: 100vw;
    flex: 1;
    display: flex;
    flex-direction: row;
}

#profile-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-img{
    width: 60%;
}

#info-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#linkedin-btn{
    background-color: #0077b5;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
}

#linkedin-img{
    margin: -10px 5px -10px -10px;
    width: 30px;
}

#github-btn{
    background-color: #666666;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    margin-top: 5px;
}

#github-img{
    margin: 5px 0px 0px -1px;
    width: 30px;
}

/* PHONE SIZES */
@media (max-width: 600px) {
    #header {
        gap: 0.25rem;
        margin-bottom: 5%;
    }

    #header > *{
        margin: 0;
    }

    #contact-container{
        flex-direction: column;
    }

    #info-container{
        justify-content: center;
        align-items: center;
    }
}

/* ANIMATIONS */
@keyframes icon-popup{
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(10px); /* start lower */
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0); /* end in place */
    }
}